<!DOCTYPE html>
<html>
  <head>
    <title>Word Pig-Latinized</title>
  </head>
  <body>
    <h1>Here is your word/phrase pig-latinized!</h1>
    <p><%= PigLatinizer.new.piglatinize(@user_text) %></p>
  </body>
</html>