<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST" action="/piglatinizer">
      <p><label for="user_data">Enter Phrase:</label>
      <input type="text" name="user_data" placeholder="Enter text here..."></p>
      <input type="submit">
    </form>
  </body>
</html>